---
title: Icon Set Lab – aegis-icons
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="prefetch" href="/fonts/inter-v3-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="prefetch" href="/fonts/inter-v3-latin-600.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <style>{% include sanitize.min.css %}{% include fonts.min.css %}</style>
    <script>{% include list.min.js %}{% include hotkeys.min.js %}</script>
  </head>
  
  <body data-theme-color="dark" data-icon-grid="off" data-icon-size="big">
    <div id="container">
      <div id="primary-list">
        <h1>Primary</h1>
        <div class="list" id="primary">
          {% assign image_files = site.static_files | where: "is_primary", true %}
          {% for myimage in image_files %}
            {% include icon-elements.txt %}
          {% endfor %}
        </div>
      </div>
  
      <div id="variations-list">
        <h1>Var / Alt</h1>
        <div class="list" id="variations">
          {% assign image_files = site.static_files | where: "is_variation", true %}
          {% for myimage in image_files %}
            {% include icon-elements.txt %}
          {% endfor %}
        </div>
      </div>
  
      <div id="generic-list">
        <h1>Generic</h1>
        <div class="list" id="generic">
          {% assign image_files = site.static_files | where: "is_generic", true %}
          {% for myimage in image_files %}
            {% include icon-elements.txt %}
          {% endfor %}
        </div>
      </div>
  
      <div id="outdated-list">
        <h1>Outdated</h1>
        <div class="list" id="outdated">
          {% assign image_files = site.static_files | where: "is_outdated", true %}
          {% for myimage in image_files %}
            {% include icon-elements.txt %}
          {% endfor %}
        </div>
      </div>
    </div>
  
    <div id="sidebar" class="left">
      <input class="search" type="search">
      <span id="placeholder"><span>Filter</span><kbd>CTRL + .</kbd></span>
      <button class="reset"><span>Clear</span><kbd>ESC</kbd></button>
      <ul>
        <li><kbd>1</kbd><a href="#primary">Primary</a><span>:</span> <b id="icon-amount-pri">...</b></li>
        <li><kbd>2</kbd><a href="#variations">Var / Alt</a><span>:</span> <b id="icon-amount-var">...</b></li>
        <li><kbd>3</kbd><a href="#generic">Generic</a><span>:</span> <b id="icon-amount-gen">...</b></li>
        <li><kbd>4</kbd><a href="#outdated">Outdated</a><span>:</span> <b id="icon-amount-out">...</b></li>
        <li class="sep">Total: <b id="total-icon-count">...</b></li>
      </ul>
    </div>
  
    <div id="sidebar" class="right">
      <ul>
        <li><b>Icon grid:</b></li>
        <li>
          <input type="radio" name="iconGrid" id="off-r" value="off" checked>
          <label for="off-r">Off <i>(default)</i> <kbd>Q</kbd></label>
        </li>
        <li>
          <input type="radio" name="iconGrid" id="icon-grid-r" value="icon-grid">
          <label for="icon-grid-r">Normal <kbd>W</kbd></label>
        </li>
        <li>
          <input type="radio" name="iconGrid" id="alt-icon-grid-r" value="alt-icon-grid">
          <label for="alt-icon-grid-r">Inverted colors <kbd>E</kbd></label>
        </li>
      </ul>
      <ul class="sep">
        <li><b>Theme color:</b></li>
        <li>
          <input type="radio" name="themeColor" id="dark-r" value="dark" checked>
          <label for="dark-r">Dark <i>(default)</i> <kbd>A</kbd></label>
        </li>
        <li>
          <input type="radio" name="themeColor" id="amoled-r" value="amoled">
          <label for="amoled-r">AMOLED <kbd>S</kbd></label>
        </li>
        <li>
          <input type="radio" name="themeColor" id="light-r" value="light">
          <label for="light-r">Light <kbd>D</kbd></label>
        </li>
      </ul>
      <ul class="sep">
        <li><b>Icon size:</b></li>
        <li>
          <input type="radio" name="iconSize" id="big-r" value="big" checked>
          <label for="big-r">85% viewp. <i>(default)</i> <kbd>Z</kbd></label>
        </li>
        <li>
          <input type="radio" name="iconSize" id="medium-r" value="medium">
          <label for="medium-r">300px <kbd>X</kbd></label>
        </li>
        <li>
          <input type="radio" name="iconSize" id="small-r" value="small">
          <label for="small-r">100px <kbd>C</kbd></label>
        </li>
      </ul>
    </div>
  
    <script>
      {% include bottom-scripts.js %}
    </script>
  </body>
</html>